.attachment-container {
  .attachmentHeading {
    font-size: 14px;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 0%;
    vertical-align: middle;
    text-transform: capitalize;
    margin: 25px 0 4px;
    padding: 0;
    color: var(--color-darkLiver);
    &.size-s {
      font-size: 14px;
    }
    &.size-m {
      font-size: 16px;
    }
    &.size-l {
      font-weight: 500;
      font-size: 20px;
    }
    &.size-xl {
      font-weight: 600;
      font-size: 22px;
    }
  }
  .uploadHereHeading {
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
    color: var(--color-oldSilver) !important;
  }
  .addedAttachmentName {
    cursor: pointer;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    vertical-align: middle;
    color: var(--color-gray);
  }
  [class^="icon-"] {
    font-size: 23px;
  }
  .removeAttachment {
    padding: 0;
    margin: 0;
    .trashFull-icon {
      width: 22px;
      height: 22px;
    }
  }
  .upload-disbaled {
    -webkit-user-select: none;
    user-select: none;
    pointer-events: none;
  }
}
