.react-dropdown-select {
  
  background-color: var(--bs-secondary-bg) !important;
  &.search-filter {
    width: 200px;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid var(--color-light-light-gray);
    background: var(--color-white);
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: var(--color-gray);
    margin: 0;
    .react-dropdown-select-content {
      color: var(--color-darkLiver);
      font-size: 13px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      display: flex;
      flex-direction: row;
      max-width: 315px;
      overflow: hidden;
      flex-wrap: nowrap;
      text-overflow: ellipsis;
      justify-content: flex-start;
    }
    .react-dropdown-select-option {
      position: relative;
      display: inline;
      background: transparent;
      color: var(--color-darkLiver);
      font-size: 13px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      white-space: nowrap;
      margin: 0;

      &::before {
        position: absolute;
        content: ",";
        right: 0px;
        bottom: 0;
      }

      &:nth-last-child(2)::before {
        content: "";
      }

      .react-dropdown-select-option-remove {
        display: none;
      }
    }
  }
  &.single-select-dropdownRenderer {
    padding: 8px 15px;
    border-radius: 6px;
    position: relative;
    min-height: 45px;
    .react-dropdown-select-dropdown {
      border-radius: 6px;
      .dropdwonLists {
        overflow: auto;
        max-height: 200px;
        padding: 0;
        position: relative;
        .addButton {
          color: var(--color-primary);
        }
        &::-webkit-scrollbar {
          width: 8px;
          height: 4px;
          background-color: var(--color-light-light-gray);
          border-radius: 10px;
        }
        &::-webkit-scrollbar-track {
          -webkit-box-shadow: inset 0 0 6px var(--color-light-light-gray);
          border-radius: 10px;
          background-color: var(--color-light-light-gray);
        }
        &::-webkit-scrollbar-thumb {
          border-radius: 10px;
          -webkit-box-shadow: inset 0 0 6px var(--color-oldSilver);
          background-color: var(--color-oldSilver);
        }
        p {
          margin: 10px 4px 10px 15px;
          padding: 3px 4px;
          font-weight: 400;
          font-size: 14px;
          line-height: 100%;
          letter-spacing: 0%;
          vertical-align: middle;
          display: flex;
          flex-direction: row;
          column-gap: 16px;
          color: var(--color-black);
          cursor: pointer;
          .checkbox-img {
            width: 14px;
            height: 14px;
          }
        }
        .error-show {
          display: block;
          color: var(--color-light-red);
          font-size: 13px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          margin: 0 0 10px;
          padding: 4px;
          text-align: center;
        }
      }
    }
    .react-dropdown-select-content {
      color: var(--color-oldSilver);
      font-size: 14px;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      font-weight: 400;
      justify-content: flex-start;
      line-height: normal;
      // min-width: 250px;
      overflow: hidden;
      text-overflow: ellipsis;
      .react-dropdown-select-input {
        font-size: 14px;
        font-weight: 400;
      }
      span {
        color: var(--color-darkLiver);
        font-weight: 500;
      }
      .react-dropdown-select-dropdown-handle svg {
        vertical-align: baseline;
      }
      .react-dropdown-select-option {
        background: transparent;
        color: var(--color-darkLiver);
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin: 0;
        position: relative;
        white-space: nowrap;
        &::before {
          bottom: 0;
          content: ",";
          position: absolute;
          right: 0;
        }
        &:nth-last-child(2):before {
          content: "";
        }
        .react-dropdown-select-option-remove {
          display: none;
        }
      }
    }
    .custom-tooltip-wrapper {
      // position: relative;
      display: inline-block;
      width: 100%;
    }

    .selected-values-text {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    /* Hidden by default */
    .custom-tooltip-box {
      position: absolute;
      z-index: 999;
      background: var(--color-primary-dark);
      color: #fff;
      padding: 10px 12px;
      font-size: 13px;
      border-radius: 8px;
      white-space: normal;
      line-height: 1.4;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
      width: 100%;
      bottom: 48px;
      right: 0px;
      opacity: 0;
      transform: translateY(5px);
      visibility: hidden;
      pointer-events: none;
      transition: opacity 0.25s ease, transform 0.25s ease;
    }

    /* Show tooltip on hover */
    .custom-tooltip-wrapper:hover {
      .custom-tooltip-box {
        opacity: 1;
        transform: translateY(0);
        visibility: visible;
        pointer-events: auto;
      }
      .custom-tooltip-box {
        .css-arrow {
          position: absolute;
          right: 15px;
          width: 16px;
          height: 16px;
          border-top: 5px solid var(--color-primary-dark);
          border-right: 5px solid var(--color-primary-dark);
          transform: rotate(130deg);
          bottom: -4px;
        }
      }
    }
  }
  &.multiple-select {
    padding: 8px;
    border-radius: 6px;
    position: relative;
    min-height: 45px;
    .react-dropdown-select-dropdown {
      border-radius: 6px;
      .dropdwonLists {
        overflow: auto;
        max-height: 200px;
        padding: 0;
        position: relative;
        .addButton {
          color: var(--color-primary);
        }
        &::-webkit-scrollbar {
          width: 8px;
          height: 4px;
          background-color: var(--color-light-light-gray);
          border-radius: 10px;
        }
        &::-webkit-scrollbar-track {
          -webkit-box-shadow: inset 0 0 6px var(--color-light-light-gray);
          border-radius: 10px;
          background-color: var(--color-light-light-gray);
        }
        &::-webkit-scrollbar-thumb {
          border-radius: 10px;
          -webkit-box-shadow: inset 0 0 6px var(--color-oldSilver);
          background-color: var(--color-oldSilver);
        }
        p {
          margin: 10px 4px 10px 15px;
          padding: 3px 4px;
          font-weight: 400;
          font-size: 14px;
          line-height: 100%;
          letter-spacing: 0%;
          vertical-align: middle;
          display: flex;
          flex-direction: row;
          column-gap: 16px;
          color: var(--color-black);
          cursor: pointer;
          .checkbox-img {
            width: 14px;
            height: 14px;
          }
        }
        .error-show {
          display: block;
          color: var(--color-light-red);
          font-size: 13px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          margin: 0 0 10px;
          padding: 4px;
          text-align: center;
        }
        .create-new-entry {
          align-items: center;
          border: none;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          .create-new-entrybtn {
            background-color: var(--color-light-ghost-white);
            border: none;
            border: 1px solid var(--color-light-light-gray);
            border-radius: 4px;
            font-size: 11px;
            font-weight: 500;
            height: 23px;
            line-height: 100%;
            padding: 6px;
            white-space: nowrap;
            width: 47px;
          }
        }
      }
    }
    .react-dropdown-select-content {
      color: var(--color-oldSilver);
      font-size: 14px;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      font-weight: 400;
      justify-content: flex-start;
      line-height: normal;
      // min-width: 250px;
      overflow: hidden;
      text-overflow: ellipsis;
      .react-dropdown-select-input {
        font-size: 14px;
        font-weight: 400;
      }
      span {
        color: var(--color-darkLiver);
        font-weight: 500;
      }
      .react-dropdown-select-dropdown-handle svg {
        vertical-align: baseline;
      }
      .react-dropdown-select-option {
        background: transparent;
        color: var(--color-darkLiver);
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin: 0;
        position: relative;
        white-space: nowrap;
        &::before {
          bottom: 0;
          content: ",";
          position: absolute;
          right: 0;
        }
        &:nth-last-child(2):before {
          content: "";
        }
        .react-dropdown-select-option-remove {
          display: none;
        }
      }
    }
    .custom-tooltip-wrapper {
      // position: relative;
      display: inline-block;
      width: 100%;
    }

    .selected-values-text {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    /* Hidden by default */
    .custom-tooltip-box {
      position: absolute;
      z-index: 999;
      background: var(--color-primary-dark);
      color: #fff;
      padding: 10px 12px;
      font-size: 13px;
      border-radius: 8px;
      white-space: normal;
      line-height: 1.4;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
      width: 100%;
      bottom: 48px;
      right: 0px;
      opacity: 0;
      transform: translateY(5px);
      visibility: hidden;
      pointer-events: none;
      transition: opacity 0.25s ease, transform 0.25s ease;
    }

    /* Show tooltip on hover */
    .custom-tooltip-wrapper:hover {
      .custom-tooltip-box {
        opacity: 1;
        transform: translateY(0);
        visibility: visible;
        pointer-events: auto;
      }
      .custom-tooltip-box {
        .css-arrow {
          position: absolute;
          right: 15px;
          width: 16px;
          height: 16px;
          border-top: 5px solid var(--color-primary-dark);
          border-right: 5px solid var(--color-primary-dark);
          transform: rotate(130deg);
          bottom: -4px;
        }
      }
    }
  }

  &.multiple-select.fontFamily {
    height: 42px;
    padding: 8px 16px 8px;
  }
}

.react-dropdown-select[disabled] {
  opacity: 0.9 !important;
  background-color: var(--bs-secondary-bg) !important;
  pointer-events: none; /* Disable clicks */
  cursor: not-allowed; /* Show disabled cursor */
}
.dropdwonLists-label.disabled {
  opacity: 0.5 !important;
  pointer-events: none; /* Disable clicks */
  cursor: not-allowed; /* Show disabled cursor */
}

.userOverViewContainer {
  background-color: var(--color-white);
}
.editUserDetails {
  button {
    border: 1px solid var(--color-primary-dark-180);
    color: var(--color-primary-dark-180);
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
  }
  .btn:hover {
    border: 1px solid var(--color-primary-dark-180);
  }
}
