.layout-container {
  display: flex;
  justify-content: center;
//   align-items: center;
  min-height: 100vh;
  background-color: var(--color-body-bg-green);
//   background-image: url('../../assets/images/home-background.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.top-content {
  margin: auto;
}
.body-content {
  margin: auto;

}
