// @use "./home.scss";
@use "./login.scss";
@use "./notfound.scss";
@use "./tablesSection.scss";
@use "./homepage.scss";
@use "./createhotelpage.scss";
@use "./hotellist.scss";
@use "./popupmodal.scss";
