.not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0px;
  height: calc(100vh - 70px);

  &-content {
    max-width: 600px;
    width: 100%;

    .error-code {
      font-size: 120px;
      font-weight: 500;
      color: var(--color-light-red);
    }
    .error-message {
      font-size: 32px;
      color: var(--color-gray);
      margin-bottom: 20px;
    }

    .error-description {
      font-size: 18px;
      color: var(--color-darkLiver);
      margin-bottom: 30px;
    }

    &-button {
      display: inline-block;
      padding: 12px 24px;
      font-size: 18px;
      font-weight: bold;
      text-decoration: none;
      color: var(--color-white);
      background-color: var(--color-primary-dark);
      border: none;
      border-radius: 4px;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: var(--color-darkLiver);
      }
    }
  }
}
