
  :root {
    --default-font: 'Montserrat', sans-serif;
    --color-white: #FFFFFF;
    --color-black: #000000;
    --color-black-light: #0000001F;
    --color-black1: #000808;
    --color-light-black: #888888;
    --color-blue: #2F80ED;
    --color-blue-2: #2D9CDB;
    --color-blue-3: #56CCF2;
    --color-blue-4: #082B45;
    --color-blue-5: #E4F7FF;
    --color-blue-6: #F5F5F7;
    --color-blue-7: #F4FCFF;
    --color-blue-8: #145AE9;
    --color-light-blue-8: #EFF6FF;
    --color-border-blue-8: #BEDBFF;
    --color-purple: #9B51E0;
    --color-purple-dark: #AA75EE;
    --color-light-purple: #BB6BD9;
    --color-pink: #FFE0E0;
    --color-red: #C5221F;
    --color-light-red: #EB5757;
    --color-light-red-1: #ebb8b8;
    --color-light-red-2: #f1d9d9;
    --color-light-red-3: #DF2C2C;
    --color-orange: #F2994A;
    --color-orange-light: #FF973A;
    --color-orange-lighter: #F1B90E;
    --color-yellow: #F2C94C;
    --color-light-yellow: #FFCA28;
    --color-light-yellow-1: #FFC107;
    --color-light-yellow-2: #F3AF3D;
    --color-light-yellow-2-light: #ffd08a;
    --color-light-yellow-light-1: #FFFBEB ;
    --color-dark-green: #219653;
    --color-dark-green-1: #188544;
    --color-light-green: #27AE60;
    --color-lighter-green: #6FCF97;
    --color-lighter-green4: #CAF0DA;
    --color-lighter-green5: #1F8D19;
    --color-lighter-green6: #C4F4D0;
    --color-green-7: #2E823C;
    --color-light-green-7: #F0FDF4;
    --color-boder-green-7: #B9F8CF;
    --color-gray: #333333;
    --color-light-gray: #F2F2F2;
    --color-light-gray-1: #94A0A8;
    --color-light-gray-2: #F2F2F2;
    --color-light-gray-3: #FAFAFA;
    --color-light-gray-4: #C1C9CE;
    --color-light-gray-5: #FCFCFC;
    --color-light-gray-6: #A1A1A1;
    --color-light-gray-7: #989797;
    --color-light-gray-8: #A0A3A6;
    --color-light-gray-9: #A4A4A4;
    --color-light-gray-10: #464646;
    --color-light-gray-11: #272727;
    --color-gray-12: #4F5053;
    --color-light-gray-12: #F9FAFB;
    --color-border-gray-12: #E5E7EB;
    --color-dark-gray: #49454F;
    --color-dark-gray-1: #696D71;
    --color-dark-gray-2: #5C6267;
    --color-dark-gray-3: #6C6C6C;
    --color-dark-gray-4: #636363;
    --color-dark-gray-5: #9CADBC;
    --color-dark-gray-6: #626263;
    --color-dark-gray-7: #8B8B8B;
    --color-dark-gray-8: #747474;
    --color-light-gray-bg: #49454F1F;
    --color-darkLiver: #4F4F4F;
    --color-silver: #BDBDBD;
    --color-oldSilver: #828282;
    --color-light-light-gray: #E0E0E0;
    --color-light-light-gray-1: #E8E8E8;
    --color-light-light-gray-2: #A8A8A8;
    --color-light-light-gray-3: #A9A9A9;
    --color-light-ghost-white: #F9F9F9;
    --color-light-ghost-white-1: #F9FBFE;
    --color-light-ghost-white-2: #F6F7FB;
    --color-light-light-gray-4: #F7F7F7;
    --color-light-light-gray-5: #d9d9d9;
    --color-light-light-gray-6: #7D8398;
    --color-light-light-gray-7: #9F9F9F;
    --color-light-light-gray-8: #969696;
    --color-primary: #67d1cd;
    --color-primary-1: rgba(0; 173; 240; 1);
    --color-primary-280: rgba(0; 173; 240; 0.80);
    --color-primary-260: rgba(0; 173; 240; 0.60);
    --color-primary-240: rgba(0; 173; 240; 0.40);
    --color-primary-220: rgba(0; 173; 240; 0.20);
    --color-primary-dark: #078d88;
    --color-primary-dark-180: rgba(8; 43; 69; 0.80);
    --color-primary-dark-160: rgba(8; 43; 69; 0.60);
    --color-primary-dark-140: rgba(8; 43; 69; 0.40);
    --color-primary-dark-120: rgba(8; 43; 69; 0.20);
    --color-primary-dark-1: #3D98DB;
    --color-primary-dark-2: #084272;
    --color-primary-light-1: #C7D7E3;
    --color-primary-light-2: #61A8FF;
    --color-primary-light-3: #F1F5F8;
    --color-primary-light-4: #EBFCFF;
    --color-primary-light-5: #2C80BD;
    --color-primary-light-6: #E5F4FF;
    --color-primary-light-7: #CCF1FF;
    --color-primary-light-8: #C5E3F9CC;
    --color-primary-light-9: #E4F4FF;
    --color-primary-light-10: #DFF4FF;
    --color-primary-light-11: #082B45CC;
    --color-text-primary: #3C444B;
    --color-bg-light-gray: #F4F4F4;
    --color-bg-light-gray-1: #F5F5F5;
    --color-bg-btn-gray: #F3F4F5;
    --color-icon-purple: #321DA7;
    --color-icon-orange: #C59A0D;
    --color-icon-primary: #1C274C;
    --color-icon-green: #13AA45;
    --color-bg--tooltip: #373D3F;
    --color-btn-text-gray: #555555;
    --color-btn-filter-gray: #F9F6F6;
    --color-border-gray: #DDDDDD;
    --color-bg-primary-logo: #7DBFF0;
    --color-tabs-gray: #7D8992;
    --color-label-gray: #808D97;
    --color-value-primary: #475560;
    --color-chips-gray: #F3F3F3;
    --color-dark-gray-9: #374151;
    --color-gray-role: #717182;
    --color-gray-10:#E6E6E6;
    --color-gray-11:#A2A2A2;
    --color-primary-tool:#E5F8FF;
    --color-primary-tool_text:#36C7FF;
    --color-bg-secondary-sidebar:#F3F5F7;
    --color-text-muted:#64748B;
    --color-bg-board:#EFFBFF;
    --color-bg-gray-99:#F5F4F4;
    --color-bg-green-light-1:#B9F8CF;
    --color-body-bg-green:#E8EFF0;
  }
