@font-face {
  font-family: 'Montserrat';
  font-weight: 300;
  font-display: swap;
  src: url("./Montserrat/Montserrat-Light.ttf");
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 400;
  font-display: swap;
  src: url("./Montserrat/Montserrat-Regular.ttf");
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 500;
  font-display: swap;
  src: url("./Montserrat/Montserrat-Medium.ttf");
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 600;
  font-display: swap;
  src: url("./Montserrat/Montserrat-SemiBold.ttf");
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 200;
  font-display: swap;
  src: url("./Montserrat/Montserrat-ExtraLight.ttf");
}